@{
    ViewData["Title"] = "About";
}

<div class="text-center" style="padding: 0px 25px 20px 25px;">
    <h1 class="display-2">About</h1>
    <h3>About and Contact Information</h3>
</div>

<div class="background"></div>

<div style="text-align: center; height: 100%;">
    <div style="padding: 100px 400px 100px 400px;">
        <h1>About Us</h1>

        <p>
            We believe data science is one of the most important fields in the 21st century, and we are dedicated in exploring and
            sharing its fundamentals with you.
        </p>
    </div>

    <div style="padding: 75px 400px 100px 400px;">
        <h1>Contact Details</h1>

        <p>
            Phone: +61 491 120 479<br />
            Email: u3191010@uni.canberra.edu.au
        </p>
    </div>
</div>
